<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55171012138-ep2nn1h6fbppskd76tcvlm10v59qe260.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55171012138-ep2nn1h6fbppskd76tcvlm10v59qe260</string>
	<key>API_KEY</key>
	<string>AIzaSyA9kh1sqJud5EQXplqME4uegGqKYBKBnnk</string>
	<key>GCM_SENDER_ID</key>
	<string>55171012138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.layouts</string>
	<key>PROJECT_ID</key>
	<string>paybasefinance</string>
	<key>STORAGE_BUCKET</key>
	<string>paybasefinance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55171012138:ios:c350e9aba7396fbf8d5553</string>
</dict>
</plist>